---
layout: welcome
---

<header>
  <h1>
    {% include images/logo.svg %}
    <span>{{site.title}}. {{site.description}}</span>
  </h1>
  <div>
    <span>позвоните нам</span>
    <p>
      {% include images/buble_triangle.svg %}
      <a href="callto:+73012212227">
        <span>+7 3012</span>
        <b>21 22 27</b>
      </a>
      <a href="callto:+79516340004">
        <span>+7</span>
        <b>951 634 00 04</b>
      </a>
    </p>
  </div>
</header>
<div class="navigation">{% include navigation.html %}</div>
<section>
  <h2>
    Поможем найти
    <br />
    отличную няню.
  </h2>
  <p>До 5 кандидатов на ваш выбор.</p>
  {% include sign_up_button.html %}
  <div class="birds">{% include images/birds.svg %}</div>
</section>