<header class="{{page.navigation}}">
  <h1>
    <a href="{{'/' | prepend: site.baseurl}}">
      {% include images/birds.svg %}
      <span>{{site.title}}. {{site.description}}</span>
    </a>
  </h1>
  {% include navigation.html %}
  {% include sign_up_button.html %}
  {% if page.navigation == 'sign-up' %}
    <div class="sign-up">
      <nav>
        <a href="#parent" ng-class="{active: signUpTab == 'parent'}" ng-click="signUpTab = 'parent'"><span>Заявка родителя</span></a>
        <a href="#jobseeker" ng-class="{active: signUpTab == 'jobseeker'}" ng-click="signUpTab = 'jobseeker'"><span>Заявка соискателя</span></a>
      </nav>
    </div>
  {% endif %}
</header>