---
layout: default
navigation: we
next: club
---

<h2>Почему маняня — ваша няня.</h2>
<ul>
  <li>
    {% include images/we/first.svg %}
    <p>
      Тщательно проверяем, постоянно обучаем,
      <br />
      пристально следим за качеством услуг.
    </p>
    <span>Предоставим до 5 кандидатов и заключим договор.</span>
  </li>
  <li>
    {% include images/we/second.svg %}
    <p>
      Если вас что-то
      <br />
      не устроит - заменим.
    </p>
    <span>До трёх раз - бесплатно.</span>
  </li>
  <li>
    {% include images/we/third.svg %}
    <p>
      Временная няня на время отпуска
      <br />
      или больничного постоянной..
    </p>
    <span>Не менее отличная.</span>
  </li>
</ul>
<p>
  Маняня заботится о вашем ребёнке как о родном,
  <br />
  в маняню <span>трудно не влюбиться</span>.
</p>