---
---

@import "components/extras"
@import "components/colors"

/* fonts

@font-face
  :font-family "Ubuntu Light"
  :font-style normal
  :font-weight light
  :src local("Ubuntu Light") , url(../fonts/Ubuntu-Light.eot) format("oet"), local("Ubuntu Light"), url(../fonts/Ubuntu-Light.woff) format("woff"), local("Ubuntu Light"), url(../fonts/Ubuntu-Light.ttf) format("truetype"), url(../fonts/Ubuntu-Light.svg) format('svg')

@font-face
  :font-family "Ubuntu Medium"
  :font-style normal
  :font-weight medium
  :src local("Ubuntu Medium") , url(../fonts/Ubuntu-Medium.eot) format("oet"), local("Ubuntu Medium"), url(../fonts/Ubuntu-Medium.woff) format("woff"), local("Ubuntu Medium"), url(../fonts/Ubuntu-Medium.ttf) format("truetype"), url(../fonts/Ubuntu-Medium.svg) format('svg')

/* master

$base: 1.25em
$baseline: 1rem

$ninesixty_gutter_width: $baseline / 2
$ninesixty_grid_width: 100%
$ninesixty_columns: 8

$min_width: $ninesixty_gutter_width * 80
$max_width: $ninesixty_gutter_width * 144

html
  :min-height 100%
  :height 100%
  :background $white
  :font
    :size $base
    :family "Ubuntu Light", Arial, sans-serif
  
html, html a
  :color $dark_blue

*
  +transition(opacity .4s cubic-bezier(0.445, 0.05, 0.55, 0.95))
  :outline none !important
  +children-list-fix

*, *:before, *:after
  +box-sizing
  :-webkit-font-smoothing antialiased

body
  :position relative
  :font
    :size $baseline
  :height 100%
  :min-width $min_width
  :min-height 100%

#container
  :position relative
  :min-width $min_width
  :height 100%
  :line-height $baseline
  :background $white url(../images/backgrounds/main.png) left (-$baseline * 1.5)
  :overflow auto
  :overflow-y overlay

@media only screen and (max-width: 1024px), only screen and (max-device-width: 1024px)
  html
    :font
      :size $base / 2

@import "parts/navigation"
@import "parts/sign_up_button"
@import "parts/header"
@import "parts/content"
@import "parts/form"
@import "parts/footer"

@import "contents/welcome"
@import "contents/we"
@import "contents/club"
@import "contents/work"
@import "contents/contacts"
@import "contents/sign_up"
@import "contents/success"