---
layout: default
navigation: work
next: contacts
---

<h2>Как работает маняня</h2>
<ul>
  <li>
    <span>1</span>
    <h3>Заявка или звонок</h3>
    <p>
      Займёт не более двух минут.
      <br />
      Или <a href="callto:212227">позвоните 21 22 27</a>
    </p>
  </li>
  <li>
    <span>2</span>
    <h3>Визит в офис</h3>
    <p>Ответим на ваши вопросы.</p>
    <h3>Подписание договора</h3>
    <p>Оплата в два этапа.</p>
    <b>
      Клубный взнос 
      <b>5 000 <span>₽</span></b>
    </b>
    <p>
      50% суммы - в момент подписания договора.
      <br />
      Остальная сумма - когда няня придет к вам домой.
    </p>
  </li>
  <li>
    <span>3</span>
    <h3>Собеседование</h3>
    <p>
      Знакомство с будущей няней.
      <br />
      Обмен контактами.
    </p>
  </li>
</ul>
<section>
  <div>
    {% include images/logo_small.svg %}
    <p>
      Ежемесячный членский взнос
      <b>в размере 10%</b>
      <span>от оплаты няне:</span>
    </p>
    <ul>
      <li>
        <p>Страховка.</p>
        <span>Если няня заболела или в отпуске - пришлем временную.</span>
      </li>
      <li>
        <p>Ежемесячный надзор и учет пожеланий.</p>
      </li>
      <li>
        <p>Коробка с сюрпризами для детей раз в 3 месяца.</p>
      </li>
      <li>
        <p>Мероприятия клуба для детей раз в месяц.</p>
      </li>
    </ul>
  </div>
</section>
<ul>
  <li>
    <span>4</span>
    <h3>Маняня у вас дома</h3>
    <p>
      Знакомство няни и ребёнка.
      <br />
      Подарим тепло и заботу.
    </p>
  </li>
</ul>
<div class="birds">{% include images/work/birds.svg %}</div>