<!DOCTYPE html>
<html ng-app="Manyanya" ng-controller="AppCtrl">
  {% include head.html %}
  <body>
    <div id="container">
      {% include header.html %}
      <div class="content {{page.navigation}}">
        <section next="{{page.next}}">
          {{ content }}
          {% include footer.html %}
        </section>
      </div>
    </div>
    <script type='text/javascript' src="{{ "/assets/js/angular.min.js" | prepend: site.baseurl }}"></script>
    <script type='text/javascript' src="{{ "/assets/js/application.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
