---
layout: default
navigation: club
next: work
---

<h2>Что даёт вам клуб?</h2>
<div class="list">
  <ul>
    <li>
      {% include images/club/first.svg %}
      <h3>Забота</h3>
      <p>
        Заберём из садика, поднимем настроение,
        <br />
        накормим и согреем любовью.
      </p>
    </li>
    <li>
      {% include images/club/second.svg %}
      <h3>Впечатления</h3>
      <p>
        Посетим разные интересные
        <br /> 
        представления и мероприятия.
        <br />
        Подарим море эмоции.
      </p>
    </li>
    <li>
      {% include images/club/third.svg %}
      <h3>Подарки</h3>
      <p>
        Каждый сезон мы дарим коробки
        <br />
        с приятными сюрпризами для вас и детей
      </p>
    </li>
    <li>
      {% include images/club/fourth.svg %}
      <h3>Гарантии</h3>
      <p>
        Заключение договора.
        <br />
        Страховка не менее отличной няней.
        <br />
        Ежемесячный надзор и учет пожеланий.
      </p>
    </li>
  </ul>
</div>